<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Review">
	<resultMap type="Review" id="ReviewMap">
		<id column="REV_NUM" property="revNum"/>
		<result column="BP_IP" property="bpId"/>
		<result column="CL_NUM" property="clNum"/>
		<result column="CL_NICKNAME" property="clNickName"/>
		<result column="REV_CONT" property="revCont"/>
		<result column="REV_IMG" property="revImg"/>
		<result column="REV_DATE" property="revDate"/>
		<result column="REV_VAL" property="revVal"/>
	</resultMap>
	
	<select id="reviewSelectList" parameterType="Review" resultMap="ReviewMap">
		<![CDATA[
			SELECT * FROM REVIEW WHERE BP_ID = #{BP_ID}
		 ]]>
	</select>
	
<!-- 	#{bpId} 일단 1로 고정-->
	
	<insert id="insertReview" parameterType="Review">
		<![CDATA[
			INSERT INTO REVIEW VALUES(
			'REV'||SEQ_REVIEW.NEXTVAL, #{bpId},
			#{clNum}, #{clNickName}, #{revCont}, #{revImg},
			TO_CHAR(SYSDATE, 'YYYYMMDD'), #{revVal}
			)
		]]>
 	</insert>
</mapper>