<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Review">
	<resultMap type="Review" id="ReviewMap">
		<id column="REV_NUM" property="revNum"/>
		<result column="BP_IP" property="bpId"/>
		<result column="CL_NUM" property="clNum"/>
		<result column="CL_NICKNAME" property="clNickName"/>
		<result column="REV_CONT" property="revCont"/>
		<result column="REV_IMG" property="revImg"/>
		<result column="REV_DATE" property="revDate"/>
		<result column="REV_VAL" property="revVal"/>
		<result column="AVG_REV_VAL" property="avgRevVal"/>
		<result column="COUNT" property="count"/>
	</resultMap>
	
	
	
	<select id="reviewSelectList" parameterType="Review" resultMap="ReviewMap">
		<![CDATA[
			SELECT * FROM REVIEW WHERE BP_ID = #{BP_ID}
		 ]]>
	</select>
	
<!-- 	#{bpId} 일단 1로 고정-->
	
	<insert id="insertReview" parameterType="Review">
		<![CDATA[
			INSERT INTO REVIEW VALUES(
			#{revNum}, #{bpId},
			#{clNum}, #{clNickName}, #{revCont}, #{revImg},
			TO_CHAR(SYSDATE, 'YYYYMMDD'), #{revVal}
			)
		]]>
 	</insert>
 	
 	<!-- 리뷰 시퀀스 값 가져오기 -->
 	<select id="getRevNumFromSeq" resultType="string">
		<![CDATA[
			select 'REV'||SEQ_REVIEW.NEXTVAL from dual
		]]>
 	</select>
 	
 	<!-- 사업장 리스트 : 별점 -->
 	<select id="selectRevValList" parameterType="string" resultMap="ReviewMap">
 	SELECT BP_ID, AVG(REV_VAL) AVG_REV_VAL
	FROM(
	    SELECT B.BP_ID, R.REV_VAL
	    FROM business_partner B
	    INNER JOIN review R
	    ON (b.bp_id = r.bp_id)
	)  
		group by BP_ID
		HAVING BP_ID = #{bpId}
 	</select>
 	
 	<!-- 사업장 리스트: 리뷰 건수 -->
 	<select id="selectCountReview" parameterType="string" resultType="string">
 	SELECT COUNT(*)
	FROM REVIEW
	group by BP_ID
	HAVING BP_ID = #{bpId}
	</select>
</mapper>