<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Review">
	<resultMap type="Review" id="ReviewMap">
		<id column="REV_NUM" property="revNum"/>
		<result column="BP_IP" property="bpId"/>
		<result column="CL_NUM" property="clNum"/>
		<result column="CL_NICKNAME" property="clNickName"/>
		<result column="REV_CONT" property="revCont"/>
		<result column="REV_IMG" property="revImg"/>
		<result column="REV_DATE" property="revDate"/>
		<result column="REV_VAL" property="revVal"/>
	</resultMap>
	
	
	
	<select id="reviewSelectList" parameterType="string" resultMap="ReviewMap">
		<![CDATA[
			SELECT * FROM REVIEW WHERE BP_ID = #{bpId}
		 ]]>
	</select>
	
	
	<insert id="insertReview" parameterType="Review">
		<![CDATA[
			INSERT INTO REVIEW VALUES(
			#{revNum}, #{bpId},
			#{clNum}, #{clNickName}, #{revCont}, #{revImg},
			TO_CHAR(SYSDATE, 'YYYY-MM-DD'), #{revVal}
			)
		]]>
 	</insert>
 	
 	<!-- 리뷰 시퀀스 값 가져오기 -->
 	<select id="getRevNumFromSeq" resultType="string">
		<![CDATA[
			select 'REV'||SEQ_REVIEW.NEXTVAL from dual
		]]>
 	</select>

 	
 	
</mapper>