<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Cta">

	<!-- 울트라콜 목록 가져오기 -->
	<select id="ctalist"  resultType="Cta">
		SELECT CM_TYPE,PRICE
		FROM CTA
	</select>
	
	<!-- 울트라콜 상세보기 -->
	<select id="ctacon" resultType="Cta">
		SELECT * FROM CTA
		WHERE CM_TYPE = #{CM_TYPE}
	</select>
	<!-- 결제정보 저장 -->
	<insert id="paydata" parameterType="Ctapay" >
		INSERT INTO cta_charge (
			CHRG_NUM,
			CM_CODE,
			BP_ID,
			CHRG_DATE
		) VALUES (
		SEQ_CTA_CHARGE.NEXTVAL,
		#{CM_CODE},
		#{BP_ID},
		DEFAULT
		)
	</insert>
	
	<insert id="insertcta" parameterType="Ctapay">
		INSERT INTO MY_CTA(
			BP_ID,
			CTA_NUMBER
		) VALUES (
			#{BP_ID},
			#{CM_TYPE}
		)
	</insert>
	
	<update id="">
	
	</update>
</mapper>
	
