
/* 페이지마다 바뀌는 항목 */
#menuOP{
	color: var(--font-color);
    background-color: var(--bmenu-color);
}
#menuOP a{
	display:block;
	color: var(--font-color);
}

.bContent{
	width: 950px;
}
.section {
    padding-bottom: 150px;
}


#addItemBtn{
    float: right;
    margin-bottom: 30px;
    margin-right: 70px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-family: "GmarketM";
    
}
#dynamicTable{
    
    border-left: none;
    border-right: none;
    text-align: center;
    height: 70px;
    float: left;
    clear: right;
    width: 85%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#dynamicTable th{
    height: 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}
#dynamicTable tr{
    border-collapse: collapse;
    
}
#dynamicTable td{
    border: 1px solid #aaa;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    height: 40px;
    border-collapse: collapse;
}

#addItemBtn{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family: "GmarketM";
}

#delItemBtn{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family: "GmarketM";
    float: right;
    margin-right: 20px;
    background-color: #ff9914;
}

#delItemBtn:hover{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    font-family: "GmarketM";
    float: right;
    margin-right: 20px;
    background:#4dbbff; /*버튼 기본 배경색상*/

}

.insert{
    clear: right;
}
.insert input{
    width: 300px;
    height: 25px;
    border: 1px solid #aaa;
}

.menucon{
	margin-left
}