@charset "UTF-8";
.bContent{
	text-align: center;
	margin: 0;
}


/*정보 입력 테이블 */
.tblInfo{
	width: 100%;
	text-align: left;
	padding : 0 150px;
	font-weight: 600;
}

.tblInfo tr{
	height: 50px;
}

.tblInfo th input[type="text"] , .tblInfo td input[type="text"] {
	width: 100%;
}



.basicBtn{
	width: 100px;
	height: 30px;
	font-weight: 900;
}

.othercolorBtn{
	background: var(--font-color);
	color: var(--main-color);
	border: 1px solid #aaa;
}
/* 주휴일 체크박스 */
.wrap {
	display: inline-block;
	position: relative;
	margin: 5px
}
.dayitem{
	width: 30px;
	height: 30px;
	position: relative;
	cursor: pointer;
	border: 1px solid #aaa;
	text-align: center;
	line-height: 30px;
}

input[type="text"] {
	height: 35px;	
	margin-bottom: 10px;
} 

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked+label .dayitem{
	background-color: var(--hover-color);
}

/* 등록하기 버튼*/
.InfoRegi{
	width: 200px;
	height: 50px;
	border-radius: 10px;
	font-size: 16px;
	margin-bottom: 20px;
}

#postcode{
	width: 50%;
}

#shopAddress{
	width: 70%;
}

#detailAddress{
	width: 70%;
}

#extraAddress{
	width: 70%;
}