#petInfoFrm {
  width: 600px;
  margin: 20px 0px 20px 430px;
}

input[type="radio"] {
  display: none;
}

/*container*/
.petInfo_container {
  width: 600px;
}

/*select box*/
.selectBox {
  width: 600px;
  height: 60px;
  font-size: 14px;
}

.selectTime {
  float: left;
  margin-right: 15px;
  width: 190px;
}

#DATE {
  margin-right: 0px;
}

/*list*/
.genderList {
  float: left;
  border: 1px solid var(--border-color);
  margin-right: 15px;
  width: 190px;
  padding: 20px 0px;
  text-align: center;
}

.hateList {
  float: left;
  border: 1px solid var(--border-color);
  width: 104px;
  margin-right: 20px;
  padding: 20px 0px;
  text-align: center;
}

.otherslist {
  float: left;
  border: 1px solid var(--border-color);
  width: 138px;
  margin-right: 16px;
  padding: 20px 0px;
  text-align: center;
}

.list_neut,
.hateListL,
.otherslistL {
  margin-right: 0px;
}

.errorMsg {
  display: none;
}

#petInfo_register {
  width: 600px;
  padding: 20px;
  font-size: 16px;
}
