.qnatitle .qnacontent{
    text-align: center;
}

.qnacontent{
    margin-top: 30px;

}
.qnatitle input{
    width: 600px;
    height: 30px;
    margin-left: 30px;
}

.qnacontent textarea{
    width: 600px;
    height: 600px;
    margin-left: 30px;
}
#successbtn{
    width: 100px;
    height: 40px;
    background: #4dbbff;
    border: none;
    color: #fff;
    font-family: "GmarketB";
    src: url("../font/GmarketSansTTFBold.ttf");
    border-radius: 10px;
    font-size: 15px;
   
}
#successbtn:hover{
    width: 100px;
    height: 40px;
    background: #ff9914;
    border: none;
    color: #fff;
    font-family: "GmarketB";
    src: url("../font/GmarketSansTTFBold.ttf");
    border-radius: 10px;
    font-size: 15px;
   
}



