@charset "UTF-8";

/* 페이지 전체 패딩 */
.mcontent {
	padding-left: 330px;
}

/* 질문 내역 테이블 */
.asktbl {
	text-align: left;
}

.asktbl th {
	font-size: 20px;
	padding-top: 20px;
}

.asktbl td {
	padding: 30px 0;
}

.basicBtn {
	float: right;
	height: 30px;
	border-radius: 10px;
	width: 60px;
	margin-right : 50px;
}

.asktbl td:nth-child(3) {
	text-align: center;
}

/* 답변 테이블 */
.reponsetbl {
	width: 100%;
	border-top: 1px solid var(--border-color);
	border-collapse: collapse;
	text-align: left;
}

.reponsetbl td, .reponsetbl th {
	padding: 20px;
}