@charset "UTF-8";
/* 어사이드 넓이 지정 */
.bAside{
    width: 110px;
    box-sizing: border-box;
    float: left;
    /* overflow: hidden; */
}
.bAside .menu p {
    margin-top: 5px;
}
.bMenu{
    border: 1px solid var(--bmenu-color);
    /* height: 100% !important; */
    width: 100px;
    float: left;
    box-sizing: border-box;
}
.bAside .menu{
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--bmenu-color);
    padding-top: 20px;
}

.bAside .menu:hover{
    color: var(--font-color);
    background-color: var(--bmenu-color);
}
/* 메뉴 액티브상태 */
.nowOn , .activeMenu{
    color: var(--font-color);
    background-color: var(--bmenu-color);
}

.bSideMenu{
    width: 200px;
    float: left;
    border: 1px solid var(--bmenu-color);
    display: none;
}
.bBox{
    width: 150px;
    margin: 0 auto;
}
.bBox p {
    font-size: 24px;
}
.bBox .bs{
    cursor: pointer;
    padding-bottom: 20px;
}
.bBox .bs:hover{
    color: var(--hover-color);
}
.bmp{
    margin-bottom: 20px;
}

/* bContent 넓이 지정 */
.bContent {
	overflow: hidden;
    width: 990px;
    margin-top: 30px;
    padding-left: 30px;
    margin-left: 100px;
}


/* section padding 다시 설정 */
