<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ShopMenu">

	
	<!-- 스타일 테이블  -->
	<resultMap type="Style" id="Style">
		<id column="STYLE_NUM" property="style_num"/>
		<result column="HAR_NUM" property="harNum"/>
		<result column="STYLE_NAME" property="style_name"/>
		<result column="PRICE" property="price"/>
		<result column="STYLE_TIME" property="style_time"/>
		<result column="STYLE_DEEP" property="style_deep"/>
		<result column="STYLE_NUM2" property="style_num2"/>
	</resultMap>
	
		
	<!-- 미용실 주메뉴 추가 -->
	<!-- ShopDao.java -->
	<insert id="insertStyleMAinMenu" parameterType="Style">
	INSERT INTO STYLE (STYLE_NUM,HAR_NUM,STYLE_NAME,PRICE,STYLE_TIME,STYLE_DEEP)
	VALUES	(SEQ_STYLE.NEXTVAL,#{harNum},#{style_name},#{price},#{style_time},0)
	</insert>
	
	<!-- 미용실 서브메뉴 추가 -->
	<!-- ShopDao.java -->
	<insert id="insertStyleSubMenu" parameterType="Style">
	INSERT INTO STYLE (STYLE_NUM,HAR_NUM,STYLE_NAME,PRICE,STYLE_TIME,STYLE_DEEP,STYLE_NUM2)
	VALUES	(SEQ_STYLE.NEXTVAL,#{harNum},#{style_name},#{price},#{style_time},1,SEQ_STYLE.NEXTVAL)
	</insert>
	
	<!-- 등록한 미용실 메뉴(메인+서브) 조회 -->
	<!-- ShopDao.java -->
	<select id="selectStyleList" parameterType="string" resultMap="Style">
		SELECT * 
		FROM STYLE
		WHERE HAR_NUM = #{harNum}
	</select>
	

	
	
</mapper>
