<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ShopRev">
  	<!-- HAR_SARLON 테이블  -->
	<resultMap type="HairSalon" id="HairSalon">
		<id column="HAR_NUM" property="harNum"/>
		<result column="BP_ID" property="bpId"/>
		<result column="HAR_NAME" property="shopName"/>
		<result column="HAR_ADDR" property="shopAddr"/>
		<result column="HAR_TEL" property="shopTel"/>
		<result column="HOPEN_TIME" property="shopTime"/>
		<result column="HAR_MINFO" property="shopMInfo"/>
		<result column="HAR_CLICK" property="harClick"/>
		<collection property="style" resultMap="Style" />
	</resultMap>

	<resultMap type="Pet" id="Pet">
		<id column="PET_NUM" property="pet_num" />
		<result column="PET_NAME" property="pet_name"/>
		<result column="PET_IMG" property="pet_img"/>
		<result column="PET_NUM" property="pet_num"/>
	</resultMap>

	<!--salonMenu  -->
	<resultMap type="Style" id="Style">
		<id column="STYLE_NUM" property="style_num"/>
		<result column="HAR_NUM" property="harNum"/>
		<result column="STYLE_NAME" property="style_name"/>
		<result column="PRICE" property="price"/>
		<result column="STYLE_TIME" property="style_time"/>
		<result column="STYLE_DEEP" property="style_deep"/>
	</resultMap>
	
	<!-- 메인 메뉴 -->
	<select id="revPage" resultMap="Style" parameterType="string">
			SELECT * 
			FROM style  
			WHERE HAR_NUM = #{harNum} AND STYLE_DEEP = 0
			ORDER BY style_num ASC
	</select> 

	<!-- 펫정보 -->
	<select id="revPage2" resultMap="Pet" parameterType="string">
			SELECT pet_num,pet_name,pet_img 
			FROM pet_info  
			WHERE cl_num = #{cl_num}
			ORDER BY pet_num ASC
	</select> 
	
	<!-- 추가 메뉴 -->
	<select id="revPage3" resultMap="Style" parameterType="string">
			SELECT * 
			FROM style  
			WHERE HAR_NUM = #{harNum} AND STYLE_DEEP = 1
			ORDER BY style_num ASC
	</select> 
	
	
	
	
	
</mapper>
