<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Shop">
	
	
	<!-- 미용실 -->
	
	
		<!-- HAR_SARLON 테이블  -->
		<resultMap type="HairSalon" id="HairSalon">
			<id column="HAR_NUM" property="harNum"/>
			<result column="BP_ID" property="bpId"/>
			<result column="HAR_NAME" property="shopName"/>
			<result column="HAR_ADDR" property="shopAddr"/>
			<result column="HAR_TEL" property="shopTel"/>
			<result column="HOPEN_TIME" property="shopTime"/>
			<result column="HAR_MINFO" property="shopMInfo"/>
			<result column="HAR_CLICK" property="harClick"/>
		</resultMap>
		
		<!-- 
			<collection property="shopImgList" column="SHOP_IMG_LIST" ofType="HairSalonImg" columnPrefix="IMG_">
				<id column="IMG_NUM" property="imgNum"/>
				<result column="HAR_NUM" property="harNumImg"/>
				<result column="HAR_IMG" property="shopImg"/>
			</collection>
		 -->
		 
		 <!-- BP 테이블 -->
		 <resultMap type="BPartner" id="BPartner">
			<id column="BP_ID" property="bp_Id"/>
		</resultMap>
	
		<!-- HAIR_SALON_IMG 테이블 -->
		<resultMap type="HairSalonImg" id="HairSalonImg">
			<id column="IMG_NUM" property="imgNum"/>
			<result column="HAR_NUM" property="harNum"/>
			<result column="HAR_IMG" property="shopImg"/>
		</resultMap>

		<!-- HAIR_DAYOFF 테이블 -->
		<resultMap type="HairDayOff" id="HairDayOff">
			<result column="HAR_NUM" property="harNumDayOff"/>
			<result column="HAR_DAYOFF" property="harDayOff"/>
		</resultMap>
		
		<!-- 미용실 리스트 -->
		<select id="selectHarList" parameterType="HairSalon" resultMap="HairSalon">
			SELECT * FROM HAIR_SALON
		</select>
			
		<!-- 미용실 기본 정보 기입 -->
		<insert id="insertHarInfo" parameterType="HairSalon">
		INSERT INTO HAIR_SALON (HAR_NUM, BP_ID, HAR_NAME, HAR_ADDR, HAR_TEL, HOPEN_TIME, HAR_MINFO, HAR_CLICK)
		VALUES (SEQ_HAIR_SALON.NEXTVAL, #{bpId}, #{shopName},#{shopAddr},#{shopTel},#{shopTime},#{shopMInfo}, 0)
		</insert>
		
		<!--미용실 이미지 첨부 -->
		<insert id="insertHarImg" parameterType="HairSalonImg">
			<selectKey keyProperty="harNumImg" resultType="string" order="BEFORE">
	       	 SELECT SEQ_HAIR_SALON.CURRVAL FROM DUAL
	  		</selectKey>
		INSERT INTO HAIR_SALON_IMG (IMG_NUM, HAR_NUM, HAR_IMG)
		VALUES (SEQ_HAIR_SALON_IMG.NEXTVAL,#{harNumImg},#{shopImg})
		</insert>

		<!-- TODO:작업중 -->
		<!-- 미용실 주휴일 추가 -->
		<insert id="insertHarDayOff" parameterType="HairDayOff">
			<selectKey keyProperty="harNumDayOff" resultType="string" order="BEFORE">
       	 		SELECT SEQ_HAIR_SALON.CURRVAL FROM DUAL
  			</selectKey>
		INSERT INTO HAIR_DAYOFF (HAR_NUM, HAR_DAYOFF)
		VALUES (#{harNumDayOff},#{shopDayOff})
		</insert>
	
		
	
	<!-- 동물병원 -->
	
	<!-- 
	
		<resultMap type="Hospital" id="resultHos">
		<id column="HOS_NUM" property="hosNum"/>
		<result column="BP_ID" property="bpId"/>
		<result column="HOS_NAME" property="hosName"/>
		<result column="HOS_ADDR" property="hosAddr"/>
		<result column="HOS_TEL" property="hosTel"/>
		<result column="OPEN_TIME" property="openTime"/>
		<result column="HOS_MINFO" property="hosMInfo"/>
		<result column="HOS_DINFO" property="hosDInfo"/>
		<result column="HOS_CONN" property="hosConn"/>
		<result column="HOS_CLICK" property="hosClick"/>
	</resultMap>
	 -->	

	
	
</mapper>
