<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="likes">
	
	<resultMap type="Likes" id="like">
		<id column="LIKE_NUM" property="like_num"/>
		<result column="CL_NUM" property="cl_num"/>
		<result column="HAR_NUM" property="har_num"/>
		<result column="HOS_NUM" property="hos_num"/>
	</resultMap>

	<!-- 찜하기 등록  -->
	<insert id="insertLike" parameterType="Likes">
		<if test="har_num != null">
		INSERT INTO LIKES(LIKE_NUM, CL_NUM, HAR_NUM) VALUES('LIKE000' || SEQ_LIKES.nextval, #{cl_num},#{har_num})
		</if>
		<if test="hos_num != null">
		INSERT INTO LIKES(LIKE_NUM, CL_NUM, HOS_NUM) VALUES('LIKE000' || SEQ_LIKES.nextval, #{cl_num},#{hos_num})
		</if>
	</insert>
	
	<!-- 찜 조회 -->
	<select id="selectLike" parameterType="string" resultMap="like">
		SELECT * 
		FROM LIKES
		WHERE CL_NUM = #{cl_num}
	</select>
	
	<delete id="deleteLike" parameterType="Likes">
		DELETE FROM LIKES WHERE CL_NUM = #{cl_num} 
		<if test="har_num != null">
			AND HAR_NUM = #{har_num}
		</if>
		<if test="hos_num != null">
			AND HOS_NUM = #{hos_num}
		</if>
	</delete>
	
</mapper>
