<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Login">

	<!-- 사용자 resultMap -->
  <resultMap type="Client" id="uLogin">
  	<id column="CL_NUM" property="cl_num" />
	<result  column="CL_EMAIL" property="email"/>
	<result  column="CL_PWD" property="password"/>
	<result  column="CL_NICKNAME" property="nickname"/>
	<result  column="CL_NAME" property="name"/>
	<result  column="CL_TEL" property="tel"/>
  </resultMap>

	<!-- 사업자 resultMap -->
  <resultMap type="BPartner" id="bLogin">
	<id column="BP_ID" property="bp_Id"/>
	<result column="BP_PWD" property="bp_pwd"/>
	<result column="BP_NAME" property="bp_name"/>
	<result column="BP_TEL" property="bp_tel"/>
	<result column="BP_BANK" property="bp_bank"/>
	<result column="BP_ACNT" property="bp_acnt"/>
	<result column="BP_EMAIL" property="bp_email"/>
	<result column="BP_NUM" property="bp_num"/>
	<result column="BP_TYPE" property="bp_type"/>
	<result column="BP_APRVE" property="bp_aprve"/>
  </resultMap>

	<!-- 사용자 로그인 -->
	<select id="loginMember" parameterType="Client" statementType="PREPARED" resultMap="uLogin">
		SELECT * 
		FROM client 
		WHERE CL_EMAIL = #{email} AND CL_PWD = #{password}
	</select>
	
	<!-- 사업자 로그인 -->
	<select id="loginBMember" parameterType="BPartner" statementType="PREPARED" resultMap="bLogin">
		SELECT * 
		FROM business_partner 
		WHERE BP_EMAIL = #{bp_email} AND BP_PWD = #{bp_pwd}
	</select>
  
</mapper>
