<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Login">

	<!-- 사용자 resultMap -->
  <resultMap type="Client" id="uLogin">
  	<id column="CL_NUM" property="cl_num" />
	<result  column="CL_EMAIL" property="email"/>
	<result  column="CL_PWD" property="password"/>
	<result  column="CL_NICKNAME" property="nickname"/>
	<result  column="CL_NAME" property="name"/>
	<result  column="CL_TEL" property="tel"/>
  </resultMap>



	<!-- 사용자 로그인 -->
	<select id="loginMember" parameterType="Client" statementType="PREPARED" resultMap="uLogin">
		SELECT * 
		FROM client 
		WHERE CL_EMAIL = #{email} AND CL_PWD = #{password}
	</select>
	
  
</mapper>
