<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	 <settings> <!-- 입력 값이 Null일 경우 “”이 아닌 Null로 처리 -->
		 <setting name="jdbcTypeForNull" value="NULL"/>
		 </settings>
		 
		 
	<typeAliases>
		<typeAlias type="kh.com.petbreedding.client.model.vo.Client" alias="Client"/>
		<typeAlias type="kh.com.petbreedding.mypage.model.vo.MyPet" alias="MyPet"/>
		<typeAlias type="kh.com.petbreedding.common.model.vo.Likes" alias="Likes"/>
		<typeAlias type="kh.com.petbreedding.board.model.vo.Board" alias="Board"/>
		<typeAlias type="kh.com.petbreedding.cta.model.vo.Cta" alias="Cta"/>
		<typeAlias type="kh.com.petbreedding.cta.model.vo.CtaPay" alias="Ctapay"/>
		<!-- TODO -->
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/Client/client-mapper.xml" />
		<mapper resource="mappers/common/login-mapper.xml" />
		<mapper resource="mappers/cta/cta-mapper.xml" />
	</mappers>
	
</configuration>
