<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mWait">
  <!-- 사업자 resultMap -->
  <resultMap type="BPartner" id="bWait">
	<id column="BP_ID" property="bp_Id"/>
	<result column="BP_PWD" property="bp_pwd"/>
	<result column="BP_NAME" property="bp_name"/>
	<result column="BP_TEL" property="bp_tel"/>
	<result column="BP_BANK" property="bp_bank"/>
	<result column="BP_ACNT" property="bp_acnt"/>
	<result column="BP_EMAIL" property="bp_email"/>
	<result column="BP_NUM" property="bp_num"/>
	<result column="BP_TYPE" property="bp_type"/>
	<result column="BP_APRVE" property="bp_aprve"/>
	<result column="BP_DELETE" property="bp_delete"/>
  </resultMap>
  
  <!-- 제휴승인대기 목록 조회 -->
  <select id="selectMwait" resultMap="bWait">
  	SELECT * 
  	FROM  business_partner
  	WHERE BP_APRVE = 0
  </select>
  
  
  <!-- 제휴 승인 처리 -->
  <update id="confirmBP">
  	UPDATE business_partner 
  	SET BP_APRVE = 1 
  	WHERE BP_NUM = ANY
	<foreach collection="list" item="value" open="(" close=")" separator=",">
		 #{value}  		
	</foreach>
	AND BP_APRVE = 0
  </update>
</mapper>
