@charset "UTF-8";

input {
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

td > span {
  display: block;
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

.updFrm {
  width: 600px;
  margin: 20px 0px 20px 430px;
}

.updTitle {
  /* margin: 20px 0 0 220px; */
  padding-left: 299px;
  padding-top: 37px;
}

.updBtn {
  width: 600px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 20px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  background: #4dbbff;
}

.errorMsg {
  margin: 0px;
  padding: 10px 0;
  display: none;
}

.getPhone_bar {
  width: 100%;
}

.updPhobe_btn {
  width: 100%;
  padding: 24px;
  background: var(--button-color);
  color: var(--font-color);
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 11px;
  cursor: pointer;
}

/* .chkNumBar {
  margin-top: 10px;
} */
