@charset "UTF-8";
.bMyPageAside{
	border: 1px solid var(--bmenu-color);
	width: 222.22px;
    box-sizing: border-box;
    float: left;
    padding-bottom: 100%;
}

.divBolder{
	border-top: 1px solid var(--bmenu-color);
    width: 180px;
   	padding : 20px;
   	padding-bottom: 13px;
   	margin: 0px;
   	margin-right: 0px;
}

.bMyPageAside label {
	font-size: 24px;
}

.bMyPageAside li{
	font-size: 14px;
    margin-bottom: 10px;
}

.bMyPageAside a:hover{
	color: var(--hover-color);
    cursor: pointer;
}

.bMyPageAside ul a:hover{
	color: var(--hover-color);
    cursor: pointer;
}

.modal{
	display: none;
	position: absolute;
	top: 20%;
	left: 40%;
	width: 400px;
	padding: 30px 80px 80px 80px;
	background: white;
	border: 1px solid #000;
	overflow: auto;
}

.boldtext{
	font-size: 24pt;
	text-align: center;
}

.text{
	text-align: center;
}

.btn{
	width: 20%;
	position: absolute;
	right: 40%;

}

.yes{
	position: absolute;
	right: 150px;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
}

.no {
	position: absolute;
	left: 150px;
	padding: 10px 30px 10px 30px;
	border-radius: 10px;
}




