@charset "UTF-8";

.bContent {
	width: 750px;	
}

.fa-angle-down {
	font-size: 20px;
	float: right;
}

.fa-angle-up {
	font-size: 20px;
	float: right;
}

.up {
	display: none;	
}

.down:hover, .up:hover {
	cursor: pointer;
	background-color:var(- -hover-color);;
}

.content {
	width: 100%;
	display: none;
}