@charset "UTF-8";

.section{
	height: 1000px;
}


#h1{
	padding-top: 10px;
	margin: 0px;
	width: 10%;
	float: left;
}

#h2{
	padding-top: 10px;
	margin: 0px;
	width: 10%;
	float: left;
}

#title{
	width: 50%;	
	height: 40px;
}

#content{
	width: 50%;	
	height: 500px;
	box-sizing: border-box;
}

.qnatitle{
	width: 100%;
	position: absolute;
	top:20%;
	left: 15%;
}

.qnacontent{
	width: 100%;
	position: absolute;
	top:25%;
	left: 15%;
}

.qanbtn{
	width: 80%;
	position: absolute;
	top:65%;
	left: 40%;

}

.basicBtn{
	font-family: "GmarketB";
    src: url("../font/GmarketSansTTFBold.ttf");
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin: 2px;
}

