@charset "UTF-8";

.section{
	height: 1000px;
}


#h1{
	padding-top: 10px;
	margin: 0px;
	width: 10%;
	float: left;
}

#h2{
	padding-top: 10px;
	margin: 0px;
	width: 10%;
	float: left;
}

#mServiceTitle{
	width: 472px;
	height: 40px;
}

.myAskTitle {
	width: 595px;
	height: 40px;
}

#content{
	width: 50%;	
	height: 500px;
	box-sizing: border-box;
}

.qnatitle{
	width: 100%;
	position: absolute;
	top:20%;
	left: 15%;
}

.qnacontent{
	width: 100%;
	position: absolute;
	top:25%;
	left: 15%;
}

.qanbtn{
	width: 80%;
	position: absolute;
	top:60%;
	left: 40%;
}

.msTitle{
	width: 100%;
	position: absolute;
	top:20%;
	left: 20%;
}

.msContent{
	width: 100%;
	position: absolute;
	top:25%;
	left: 20%;
}

.msBtn{
	width: 80%;
	position: absolute;
	top:63%;
	left: 47%;
}

.selectBox {
	width: 119px;
    height: 40px;
}

.basicBtn{
	font-family: "GmarketB";
    src: url("../font/GmarketSansTTFBold.ttf");
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    margin: 2px;
}